body {
	display: flex;
	box-sizing: border-box;
	margin: 0;
	background-color: #bec4d9;
	height: 100vh;
	width: 100vw;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	color: #335;
	font-weight: lighter;
	letter-spacing: 0.3vw;
}

.page {
	display: flex;
	flex-direction: column;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* ////////////Header//////////// */

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 15vh;
	margin-left: 5vw;
}

.myname {
	display: flex;
	margin-left: 8vw;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #335;
	font-size: 3.8vh;
	line-height: 0px;
	font-weight: lighter;
	letter-spacing: 1vw;
}

.e {
	padding: 0 1.85vw 0 1.85vw;
}

h4 {
	margin: 0;
}

/*///////SUB HEADER for full navbar control outside of Splash page///*/
/* different than the HEADER for react Projects page*/
.headerSub-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 15vh;
	width: 100vw;
}

.headerSub-logo {
	display: flex;
	height: 10vh;
	padding: 0 2vh;
}

.myname-headerSub {
	margin: 0;
	padding: 0 2vh;
}

#nav-dot {
	height: 1vw;
	width: 1vw;
	border-radius: 50%;
	margin: 0 2vh;
	border: solid 1px #335;
}

.dot-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1vh;
}

.hyperlinks-headerSub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1px #335;
	border-radius: 5px;
	font-size: 1.7vh;
	margin: 1vh;
	width: 8vw;
}

.hyperlinks-navButton-headingSub {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1vh 0 1vh 0;

	width: 8vw;
}

.hyperlinks-navButton-headingSub-contact {
	display: flex;
	border-top: 1px solid #335;
	border-bottom: 1px solid #335;
	/* margin: 1vh; */
}
/* .hyperlinks-navButton-headingSub:nth-of-type(2) {
	border-top: 1px solid #335;
	border-bottom: 1px solid #335;
} */

.hyperlinks-navButton-headingSub:hover {
	transition: background-color 1s;
	background-color: #ec008c;
	color: #fff;
}

/* //////hyperlinks/////// */

.hyperlink-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #335;
	border: 1px solid #335;
	border-radius: 5px;
	height: 5vh;
	margin: 0 1vw;
	width: 8vw;
	/* margin: 1vh 1vw; */
}

.hyperlink-button:hover {
	transition: background-color 1s;
	background-color: #ec008c;
	color: #fff;
}

.hyperlinks-box {
	display: flex;
	flex-direction: row;
	border: 1px solid #335;
	border-radius: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #335;
	font-size: 2vh;
	line-height: 20px;
	width: 30vw;
	justify-content: space-between;
}

.hyperlinks {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 5vh;
	width: inherit;
	color: #335;
	text-decoration: none;
}

.hyperlinks:hover {
	transition: background-color 1s;
	background-color: #ec008c;
	color: #fff;
}

.hyperlinks-contact {
	border-left: 1px solid #335;
	border-right: 1px solid #335;
}
/* .hyperlinks:nth-of-type(2) {
	border-left: 1px solid #335;
	border-right: 1px solid #335;
} */

/*///// Floating Home Button /////// */
/*// save this for mobile //*/
/* .floating-btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7vh;
	z-index: 10;
} */
/* 
.floating-btn {
	display: flex;
	width: 7vh;
	height: 7vh;
	background: #00c18ba1;
	border: 1px solid #335;
	border-radius: 5px;
	text-decoration: none;
	color: #ec0080a0;
	position: fixed;
	right: 40px;
	bottom: 20px;
	transition: background 0.25s;
} */
/* 
.floating-btn:active {
	background-color: #fced05;
} */

/*/////////// Scroll Shadow /////////*/
/*// save this for mobile //*/
.shadowbox {
	overflow: auto;
	/* width: 200px; */
	max-height: 200px;
	/* margin: 50px auto; */

	background:
		/* Shadow covers */ linear-gradient(#bec4d9 30%, #ffffff00),
		linear-gradient(rgba(255, 255, 255, 0), #bec4d9 70%) 0 100%,
		/* Shadows */
			radial-gradient(
				50% 0,
				farthest-side,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			),
		radial-gradient(
				50% 100%,
				farthest-side,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			)
			0 100%;
	background:
		/* Shadow covers */ linear-gradient(
			#bec4d9 30%,
			rgba(255, 255, 255, 0)
		),
		linear-gradient(rgba(255, 255, 255, 0), #bec4d9 70%) 0 100%,
		/* Shadows */
			radial-gradient(
				farthest-side at 50% 0,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			),
		radial-gradient(
				farthest-side at 50% 100%,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			)
			0 100%;
	background-repeat: no-repeat;
	background-color: #bec4d9;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

/*//////////Carousel/////////*/

.carousel {
	/* display: flex; */
	height: 60vh;
	width: 100vw;
	overflow: scroll;
	/* object-fit: contain; */
	box-sizing: border-box;
}
.carousel-image {
	/* display: flex;
	flex-direction: row; */
	height: 59vh;
	margin: 0 1vw 0 1vw;
	border: solid 1px #335;
	border-radius: 5px;
	/* width:100%; */
	/* position:unset; */
}

.slick-slide {
	height: 60vh;
}

/* ////Splash Page////// */

.splash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85vh;
	margin-left: 15vw;
}

.splash-boxes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.splash-logo-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.splash-box-left {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28vh;
	width: 20vw;
	border: 1px solid #335;
	border-radius: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 3vh;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 5vh;
	letter-spacing: 1vh;
	text-decoration: none;
	background-color: #ec008c;
	color: #ec008c;
}

.splash-box-left:hover {
	transition: color 1.5s;
	color: #335;
}

.splash-box-right {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-between;
	height: 50vh;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 3vh;
	line-height: 20px;
	letter-spacing: 1vh;
	align-self: center;
}

.spl_bx-rTop {
	display: flex;
	border: 1px solid #335;
	border-radius: 5px;
	width: 20vw;
	height: 10vh;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: none;
	margin-bottom: 5vh;
	font-size: 3vh;
	text-decoration: none;
	background-color: #00c18b;
	color: #00c18b;
}

.spl_bx-rTop:hover {
	transition: color 1.5s;
	color: #335;
}

.spl_bx-rBottom {
	display: flex;
	border: 1px solid #335;
	border-radius: 5px;
	width: 20vw;
	height: 15vh;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: none;
	margin-bottom: 5vh;
	font-size: 3vh;
	text-decoration: none;
	background-color: #7ba5de;
	color: #7ba5de;
}

.spl_bx-rBottom:hover {
	transition: color 1.5s;
	color: #335;
}

.splash-box-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5vh;
	width: 40vh;
	font-size: 3vh;
	border: 1px solid #335;
	border-radius: 5px;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	letter-spacing: 1vw;
	text-decoration: none;
	background-color: #fced05;
	color: #fced05;
}

.splash-box-bottom:hover {
	transition: color 1.5s;
	color: #335;
}

.img-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 50vh;
	position: relative;
	padding: 6vh;
	border: 1px solid #335;
	border-radius: 5px;
	border-width: 1px;
	/* background-color: #A8DBD7; */
}

/* /////////Content////////// */

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.content-container {
	display: flex;
	/* height: 100vh;
	width: 100vw; */
	flex-direction: column;
	align-items: center;
}

.content-paragraph {
	height: 22vh;
	width: 90vw;
	overflow: auto;
	margin: 1vh;
	font-size: 2vh;
	/* height: 80vh; */
}

.content-paragraph > p {
	margin-bottom: 2vh;
}

.content-heading {
	display: flex;
	height: 6vh;
	width: 30vw;
	justify-content: center;
	align-items: center;
	border: solid 1px #335;
	border-radius: 5px;
	color: #335;
}

.content-image {
	display: flex;
	height: 100%;
	width: 100%;
	overflow: scroll;
	object-fit: contain;
}
/* 
.about {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
} */

/* .adventure {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
} */
.adventure-text {
	background-color: #ec008ca1;
}

/* .excitement {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	
} */

.excitement-text {
	background-color: #00c18ba1;
}

/* 
.beauty {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
} */

.beauty-text {
	background-color: #7ba5de;
}

/* .travel {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
} */

.travel-text {
	background-color: #fced05a1;
}

.contact {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.contact-info {
	flex-direction: row;
	padding: 0 50px 0 50px;
}

/* /////Projects Page////// */

.content-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.proj-title {
	display: flex;
	height: 10vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.proj-content-row {
	display: flex;
	flex-direction: row;
	width: 100vw;
}

.proj-list {
	display: flex;
	flex-direction: column;
	height: 75vh;
	width: 20vw;
	padding-left: 2vh;
}

.proj-list-box {
	display: flex;
	flex-direction: column;
	border: solid 1px #335;
	border-radius: 5px;
}

.proj-hyperlinks {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 5vh;
	width: inherit;
	color: #335;
	text-decoration: none;
}

.proj-hyperlinks:hover {
	transition: background-color 1s;
	background-color: #ec008c;
	color: #fff;
}

/* .proj-list-box:nth-of-type(2) {
	border-top: 1px solid #335;
	border-bottom: 1px solid #335;
	
} */

.blog-hyperlinks {
	border-top: solid 1px #335;
	border-bottom: solid 1px #335;
}

.ohmgd-hyperlinks {
	border-top: solid 1px #335;
	border-bottom: solid 1px #335;
}

.proj-info-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30vw;
	height: 75vh;
}

.proj-image {
	display: flex;
	height: 40vh;
	justify-content: center;
	overflow: hidden;
	object-fit: contain;
	padding: 0 0.5vw;
	border-radius: 5px;
}

.proj-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 10vh;

	align-items: center;
}

.proj-visit-title {
	display: flex;
}

.proj-links-buttons {
	display: flex;
	padding: 0 2vw;
}

.proj-info-column-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2vh 0;
}

.proj-tech-icons-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 6vh;
}

.proj-tech-icons {
	display: flex;
	height: 3vh;
	object-fit: contain;
	padding: 0 1vh;
	color: #bec4d9;
}

.proj-blog-links {
	display: flex;
	height: 10vh;
}

.proj-content-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh;
	width: 50vw;
}

.proj-content-row-titles {
	display: flex;
	flex-direction: row;

	width: 25vw;
	border: solid 1px #335;
	border-radius: 5px;
}

.proj-content-column-titles {
	display: flex;
	height: 5vh;
	margin: unset;
	justify-content: center;
	align-items: center;
	width: 20vw;
}

.left-border {
	border-left: solid 1px #335;
}

.synopsis-text-box {
	display: flex;
	max-height: 60vh;
	overflow: scroll;
	border: solid 1px #335;
	border-radius: 5px;
	margin: 1vw;
	padding: 0.5vw;
}

.story-text-box {
	display: flex;
	max-height: 40vh;
	overflow: scroll;
	border: solid 1px #335;
	border-radius: 5px;
	margin: 1vw;
	padding: 0.5vw;
}

/* ////////Coming Soon page///////// */

.coming-soon-container {
	width: 75vw;
	height: 70vh;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 0 3vh;
	border: solid 1px #335;
	border-radius: 5px;
}

.coming-soon-image {
	height: inherit;
	width: inherit;
	opacity: 50%;
}

.coming-soon {
	position: absolute;
	bottom: -9vh;
	color: #ec008c;
	font-size: 25vh;
	text-align: center;
	text-shadow: 0px 10px 15px #335;
}

/* ///////////Contact/////////// */

.contact {
	display: flex;
	justify-content: space-between;
	/* padding: 3vh; */
	height: 100%;
	width: 100vw;
}

.banner-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 30vh;
}

/* .myname-contact {
	display: flex;
	justify-content: center;
	font-weight: lighter;
	letter-spacing: 1vw;
	width: 30vw;
} */

.logo-box {
	display: flex;
	justify-content: space-evenly;
	width: 30vw;
}

/* .logo-contact {
	height: 20vh;
	position: relative;
	padding: 6vh;
	border: 1px solid #335;
	border-radius: 5px;
	border-width: 1px;
} */

.why-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30vw;

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #335;
	font-size: 2vh;
	/* line-height: 0px; */
	font-weight: lighter;
	letter-spacing: 0.3vw;
}

.contact-method-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 2vh 0 2vh 0;
	width: 60vw;
}

.linkedin-img {
	height: 9vh;
}

.mobile-img {
	height: 8vh;
	/* margin: 0 3vw 0 3vw; */
}

.email-img {
	height: 8vh;
}

.or {
	display: flex;
	justify-content: center;
}

/* email/message form */
.contact-form {
	display: flex;
	flex-direction: column;
}

.name-email {
	display: flex;
	justify-content: center;
}
.name-email-label {
	padding-right: 1vw;
}

.name-email-input {
	margin-right: 3vw;
	background-color: #bec4d9;
	border-radius: 5px;
}

.submit-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.submit-button {
	display: flex;
	justify-content: center;
	width: 10vw;
	background-color: #7ba5de;
	border-radius: 5px;
}

/* ///////Footer/////////*/

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	height: 45vh;
}

.footer-title {
	display: flex;
	font-size: 2vh;
	border-bottom: solid 1px #335;
}

.footer-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	font-size: 2vh;
	text-align: center;
}

.footer-row-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25vw;
}

.footer-resources-column-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2vh;
	padding-top: 5vh;
}

.copyright {
	margin-top: 4vh;
}

/*///////\\\\\\\\\\\\ MOBILE //////////////\\\\\\*/

@media only screen and (max-device-width: 920px) and (orientation: portrait) {
	body {
		overflow: hidden;

		/* fallback for browsers without customizable properties  */
		height: 100vh;

		/* adjusts for 'useable' viewport accounting for the space taken by
		 navbars and url inputs */
		height: calc(var(--vh, 1vh) * 100);
	}

	/*Header includes name:allan e bott as well as the nav buttons on splash page*/
	header {
		/* display: flex; */
		flex-direction: column-reverse;
		justify-content: space-between;
		position: fixed;

		/* align-items: center; */
		height: 94vh;
		width: 100vw;
		margin-left: 0vw;
	}

	.myname {
		/* display: flex; */
		margin-left: 0vw;
		margin-top: 7vh;
		/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
		/* color: #335; */
		/* font-size: 3.8vh; */
		/* line-height: 0px; */
		/* font-weight: lighter; */
		/* letter-spacing: 1vw; */
	}

	.e {
		/* padding: 0 1.85vw 0 1.85vw; */
	}

	h4 {
		/* margin: 0; */
	}

	.hyperlink-button {
		/* display: flex; */
		/* align-items: center; */
		/* justify-content: center; */
		/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
		/* color: #335; */
		/* border: 1px solid #335; */
		border-radius: 10px;
		height: 2vh;
		/* padding: 0 1vw; */
		/* margin: unset; */
	}

	.hyperlinks-box {
		/* display: flex; */
		/* flex-direction: row; */
		/* border: 1px solid #335; */
		border-radius: 10px;
		/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
		/* color: #335; */
		/* font-size: 2vh; */
		/* line-height: 20px; */
		width: 70vw;
		margin-bottom: 10vh;
		/* justify-content: space-between; */
	}

	.hyperlinks {
		/* display: flex; */
		/* flex-direction: row; */
		/* align-items: center; */
		/* justify-content: center; */
		/* height: 5vh; */
		/* width: inherit; */
		/* color: #335; */
		/* text-decoration: none; */
	}

	.hyperlinks-navButton-headingSub-contact-splash {
		display: flex;
		border-left: 1px solid #335;
		border-right: 1px solid #335;
		border-top: unset;
		border-bottom: unset;
		/* margin: 1vh; */
	}

	.splash {
		width: 100vw;
		height: 90vh;
		margin-left: unset;
		overflow: hidden;
	}

	.splash-boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}

	.splash-logo-group {
		order: 1;
		/* display: flex; */
		/* flex-direction: column; */
		/* align-items: center; */
	}

	/* pink: adventure box */
	.splash-box-left {
		order: 2;
		/* display: flex; */
		/* justify-content: center; */
		/* align-items: center; */
		height: 3vh;
		width: 3vh;
		/* border: 1px solid #335; */
		border-radius: 100px;
		/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
		font-size: 2.5vh;
		border-bottom: none;
		/* border-bottom-right-radius: 0; */
		/* border-bottom-left-radius: 0; */
		margin-bottom: 3vh;
		/* letter-spacing: 1vh; */
		/* text-decoration: none; */
		/* background-color: #ec008c; */
		color: #ec008c00;
	}

	/*YELLOW: travel box*/
	.splash-box-bottom {
		order: 4;
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		/* align-items: center; */
		height: 3vh;
		width: 3vh;
		font-size: 2.5vh;
		/* border: 1px solid #335; */
		border-radius: 100px;
		margin-top: 5vh;
		margin-bottom: 3vh;
		/* border-top: none; */
		/* border-top-left-radius: 0; */
		/* border-top-right-radius: 0; */
		/* letter-spacing: 1vw; */
		/* text-decoration: none; */
		/* background-color: #fced05; */
		color: #fced0500;
	}

	/*WRAPPER for Green and Blue boxes*/
	.splash-box-right {
		order: 3;
		/* display: flex; */
		/* flex-direction: column; */
		/* align-self: center; */
		justify-content: flex-start;
		height: 10vh;
		/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
		/* font-size: 2.5vh; */
		/* line-height: 20px; */
		/* letter-spacing: 1vh; */
		/* align-self: center; */
	}

	/*GREEN: excitement box*/
	.spl_bx-rTop {
		/* display: flex; */
		/* border: 1px solid #335; */
		border-radius: 100px;
		width: 3vh;
		height: 3vh;
		/* align-items: center; */
		/* justify-content: center; */
		/* border-bottom-left-radius: 0; */
		/* border-top-left-radius: 0; */
		/* border-left: none; */
		margin-bottom: 3vh;
		font-size: 2.5vh;
		/* text-decoration: none; */
		/* background-color: #00c18b; */
		color: #00c18b00;
	}

	/*BLUE: beauty box*/
	.spl_bx-rBottom {
		/* display: flex; */
		/* border: 1px solid #335; */
		border-radius: 100px;
		width: 3vh;
		height: 3vh;
		/* align-items: center; */
		align-self: center;
		/* justify-content: center; */
		/* border-bottom-left-radius: 0; */
		/* border-top-left-radius: 0; */
		/* border-left: none; */
		margin-bottom: 0vh;
		font-size: 2.5vh;
		/* text-decoration: none; */
		/* background-color: #7ba5de; */
		color: #7ba5de00;
	}

	.logo {
		height: 30vh;
		/* position:absolute; */
		padding: 3vh;
		border: 1px solid #335;
		border-radius: 10px;
		border-width: 1px;
	}
	.img-wrapper {
		/* display: flex; */
		position: relative;
		/* align-items: center; */
		/* justify-content: center; */
	}

	/*/////////Header-Sub ---- Mobile Portrait \\\\\\\\*/

	.headerSub-box {
		/* display: flex; */
		/* flex-direction: row; */
		flex-wrap: wrap;
		justify-content: center;
		/* align-items: center; */
		height: 24vh;
		margin-top: 1.5vh;
		/* width: 100vw; */
	}

	.myname-headerSub {
		/* margin: 0; */
		/* padding: 0 2vh; */
		margin-top: unset;
	}
	.content-heading {
		border-radius: 10px;
		font-size: 1.7vh;
		margin-left: 2vw;
	}

	.dot-box {
		/* display: flex; */
		/* flex-direction: row; */
		/* justify-content: center; */
		/* align-items: center; */
		width: 35vw;
		padding: 0vh;
	}

	#nav-dot {
		height: 3vw;
		width: 3vw;
		border-radius: 50%;
		margin: 0 1vh;
		/* border: solid 1px #335; */
	}

	.hyperlinks-headerSub {
		/* display: flex; */
		/* flex-direction: column; */
		justify-items: center;
		/* align-items: center; */
		/* border: solid 1px #335; */
		border-radius: 10px;
		/* font-size: 1.7vh; */
		/* margin: 0 1vh; */
		width: 25vw;
	}

	.hyperlinks-navButton-headingSub {
		/* text-align: center; */
		/* padding: 1vh; */
		width: 25vw;
	}

	/*////////Carousel\\\\\\\\*/
	.carousel {
		/* display: flex; */

		height: 40vh;
		/* width: 100vw; */

		/* overflow: scroll; */
		/* object-fit: contain; */
		/* box-sizing: border-box; */
	}
	.carousel-image {
		/* display: flex;
			flex-direction: row; */
		height: 40vh;
		margin: 0vh 1vw 0 1vw;
		/* border: solid 1px #335; */
		/* border-radius: 5px; */
		/* width:100%; */
		/* position:unset; */
	}

	/* /////Paragraph Content\\\\\*/
	.content-paragraph {
		height: 15vh;
		/* width: 90vw; */
		overflow: auto;
		margin: 1vh 1vh 1vh 1vh;
		/* font-size: 2vh; */
	}
	.shadowbox {
		max-height: unset;
	}

	/*////////////Contact Page\\\\\\\\\\\\*/

	.contact {
		/* display: flex; */
		justify-content: center;
		/*padding: 3vh;*/
		/* height: 100vh; */
		/* width: 100vw; */
	}

	.banner-row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		height: 27vh;
	}

	.myname-contact {
		/* display: flex; */
		/* justify-content: center; */
		/* font-weight: lighter; */
		letter-spacing: 2vw;
		width: 100vw;
		font-size: 4vh;
	}

	.contact-method-row {
		/* display: flex; */
		/* flex-direction: row; */
		/* justify-content: center; */
		/* padding: 2vh 0 2vh 0; */
	}

	.linkedin-img {
		height: 5vh;
	}

	.mobile-img {
		height: 5vh;
		margin: 0 10vw 2vh 10vw;
	}

	.email-img {
		height: 5vh;
	}

	.logo-box {
		/* display: flex; */
		/* justify-content: center; */
		width: 100vw;
	}

	.logo-contact {
		height: 20vh;
		position: relative;
		padding: 2vh;
		border: 1px solid #335;
		border-radius: 20px;
		border-width: 1px;
	}

	.why-list {
		/* display: flex; */
		/* flex-direction: column; */
		/* align-items: center; */
		width: 100vw;

		/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
		/* color: #335; */
		font-size: 1.5vh;
		/* line-height: 0px; */
		/* font-weight: lighter; */
		/* letter-spacing: 0.3vw; */
	}

	/* ///////Footer/////////*/

	.footer-container {
		/* display: flex; */
		flex-direction: column;
		/* justify-content: flex-start; */
		/* align-items: center; */
		/* width: 100vw; */
		height: 100%;
		margin-top: 3vh;
		font-size: 1vh;
	}

	.footer-paragraph {
		font-size: 1.5vh;
	}

	.footer-title {
		/* display: flex; */
		font-size: unset;
		/* border-bottom: solid 1px #335; */
	}

	.footer-row {
		/* display: flex; */
		/* flex-direction: row; */
		justify-content: space-evenly;
		/* align-items: flex-start; */
		font-size: unset;
		/* text-align: center; */
		width: 100vw;
	}

	.footer-row-box {
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		/* align-items: center; */
		/* width: 25vw; */
	}

	.footer-resources-column-box {
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		/* align-items: center; */
		font-size: unset;
		padding-top: 3vh;
	}

	.copyright {
		font-size: 1vh;
		padding-top: 2vh;
	}

	.josh {
		margin-top: 2vh;
	}

	/*//////////Project Page///////////*/

	.content-container {
		/* display: flex; */
		/* justify-content: center; */
		/* align-items: center; */
	}

	.proj-title {
		/* display: flex; */
		height: 3vh;
		/* width: 100vw; */
		/* justify-content: center; */
		/* align-items: center; */
		font-size: 2vh;
		margin-bottom: 1vh;
		line-height: 0px;
		font-weight: lighter;
		letter-spacing: 1vw;
	}

	/*Now it's a column for Mobile styling*/
	.proj-content-row {
		/* display: flex; */
		flex-direction: column;
		/* width: 100vw; */
		height: 67vh;
	}

	.proj-list {
		/* display: flex; */
		flex-direction: row;
		justify-content: center;
		height: 5vh;
		width: 100vw;
		padding-left: unset;
	}

	.proj-list-box {
		/* display: flex; */
		flex-direction: row;
		height: 5vh;
		width: 95vw;
		/* border: solid 1px #335; */
		border-radius: 10px;
		font-size: 1.4vh;
	}

	.proj-hyperlinks {
		/* display: flex; */
		/* flex-direction: row; */
		/* align-items: center; */
		/* justify-content: center; */
		height: 5vh;
		/* width: inherit; */
		/* color: #335; */
		/* text-decoration: none; */
		text-align: center;
		/* font-size: 1vh; */
		font-weight: bolder;
	}

	.proj-hyperlinks:hover {
		/* transition: background-color 1s;
	background-color: #ec008c;
	color: #fff; */
	}

	.blog-hyperlinks {
		border-top: solid 0px #335;
		border-bottom: solid 0px #335;
		border-right: solid 1px #335;
		border-left: solid 1px #335;
	}

	.ohmgd-hyperlinks {
		border-top: solid 0px #335;
		border-bottom: solid 0px #335;
		border-right: solid 1px #335;
		border-left: solid 1px #335;
	}

	.proj-info-column {
		/* display: flex; */
		flex-direction: row;
		/* justify-content: center; */
		width: 100vw;
		height: 30vh;
		flex-wrap: wrap;
	}

	.proj-image {
		/* display: flex; */
		height: 18vh;
		/* justify-content: center; */
		/* overflow: hidden; */
		/* object-fit: contain; */
		padding: 0.5vh;
		/* border-radius: 5px; */
	}

	.proj-links {
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		height: 5vh;
		/* align-items: center; */
	}

	.proj-visit-title {
		/* display: flex; */
	}

	.proj-links-buttons {
		/* display: flex; */
		justify-content: center;
		padding: 0 1vw;
		width: 100vw;
	}
	.hyperlink-button-proj {
		margin: 0 1vw;
		width: 20vw;
		font-size: 1.5vh;
		font-weight: bolder;
	}

	.proj-info-column-title {
		/* display: flex; */
		justify-content: space-evenly;
		padding-bottom: 0.5vh;
		height: 1.5vh;
		width: 100vw;
		font-size: 1.5vh;
		font-weight: bolder;
	}

	.proj-tech-icons-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 1.5vh;
	}

	.proj-tech-icons {
		display: flex;
		height: 1.5vh;
		object-fit: contain;
		padding: 0 1vh;
		color: #bec4d9;
	}

	.proj-blog-links {
		/* display: flex;
	height: 10vh; */
	}

	.proj-content-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 23vh;
		width: 100%;
	}

	.proj-content-row-titles {
		height: 2.5vh;
		width: 40vw;
		margin: 3vh 0 0.8vh 0;
		border-radius: 10px;
	}

	.proj-content-column-titles {
		/* display: flex; */
		height: 2.5vh;
		/* margin: unset; */
		/* justify-content: center; */
		/* align-items: flex-end; */
		font-size: 1.5vh;
	}

	.synopsis-text-box {
		/* display: flex; */
		height: 15vh;
		/* overflow: scroll; */
		/* border: solid 1px #335; */
		/* border-radius: 5px; */
		/* margin: 1vw; */
		/* padding: 0.5vw; */
		font-size: 2vh;
	}

	.story-text-box {
		/* display: flex; */
		height: 15vh;
		/* overflow: scroll; */
		/* border: solid 1px #335; */
		/* border-radius: 5px; */
		/* margin: 1vw; */
		/* padding: 0.5vw; */
		font-size: 1.5vh;
	}

	/* ////////Coming Soon page///////// */

	.coming-soon-container {
		/* display: flex; */
		/* justify-content: center; */

		width: unset;
		height: 64vh;
		position: relative;

		/* align-items: center; */
		margin: 0vh;
		padding: 1vh;
		border: unset;
		/* border-radius: 5px; */
	}

	.coming-soon-image {
		height: 60vh;
		width: 100%;
		/* opacity: 50%; */
	}

	.coming-soon {
		bottom: 20vh;
		/* color: #ec008c; */
		font-size: 7vh;
		/* text-align: center; */
		/* text-shadow: 0px 10px 15px #335; */
	}
}

/* 
CAN DELETE AFTER MOBILE IS FINISHED (Copied from way up for easier ref)
*/
